html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5c8c4;
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 2em;
    overflow-x: hidden;
}

header {
    background-color: #f5c8c4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 30px 0;
    text-align: center;
}

nav {
    background-color: mediumturquoise;
    overflow: hidden;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

footer {
    background-color: mediumturquoise;
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.tm-row {
    max-width: 980px;
    justify-content: space-between;
}

.tm-main {
    margin-left: 300px;
    padding: 80px 100px 25px;
}

.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

.effect-lily:hover img {
    opacity: 1;
}

.effect-lily:hover img {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.tm-pt-20 {
    padding-top: 20px;
}

.tm-pt-30 {
    padding-top: 30px;
}

.tm-pt-45 {
    padding-top: 45px;
}

.tm-pt-60 {
    padding-top: 60px;
}

.tm-mb-40 {
    margin-bottom: 40px;
}

.tm-mb-45 {
    margin-bottom: 45px;
}

.tm-mb-55 {
    margin-bottom: 55px;
}

.tm-mb-60 {
    margin-bottom: 60px;
}

.tm-mb-65 {
    margin-bottom: 65px;
}

.tm-mb-75 {
    margin-bottom: 75px;
}

.tm-mb-80 {
    margin-bottom: 80px;
}

.tm-mb-120 {
    margin-bottom: 120px;
}

.tm-mt-40 {
    margin-top: 40px;
}

.tm-mt-100 {
    margin-top: 100px;
}

.tm-mr-20 {
    margin-right: 20px;
}

hr.tm-hr-primary {
    border-top: 5px solid #0CC;
}

.tm-color-primary {
    color: #099;
}

span.tm-color-primary {
    color: #099;
}

a.tm-color-gray {
    color: #999;
}

.tm-color-gray {
    color: #999;
}

a.tm-color-gray:hover {
    color: #099;
}

.tm-bg-gray {
    background-color: #F3F4F5;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #048c8c;
}

.tm-post-title {
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.tm-post-link img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.tm-nav-item:hover .tm-nav-link {
    color: #0CC;
    background-color: white;
    text-decoration: none;
}

.tm-nav-item.active .tm-nav-link {
    color: #0CC;
    background-color: white;
    text-decoration: none;
}

.form {
    width: 250px;
    height: 380px;
    backgroundcolor: white;
    position: absolute;
    top: 200px;
    left: 1200px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 35px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    backgroundcolor: white;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #ff7200;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

.home {
    background-image: url(http://localhost:63342/GOREV001/291062.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: mediumturquoise;
    overflow: hidden;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.tm-contact-left {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.tm-contact-form {
    max-width: 488px;
}

.contactsbody {
    background-image: url(http://localhost:63342/GOREV001/291062.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contactus {
    color: mediumturquoise;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
}

.about_section .img-box img {
    max-width: 100%;
    position: relative;
    z-index: 2;
}


.about_section .detail-box p {
    color: #1f1f1f;
    margin-top: 5px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 5px;
}

.about_section .detail-box a:hover {
    background-color: #065968;
}

.layout_padding {
    padding: 90px 0;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
}

.slider_section .detail-box {
    color: #04233b;
}

.slider_section .detail-box h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ffffff;
}

.slider_section .detail-box p {
    color: #fefefe;
    font-size: 14px;
}

.slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    margin-top: 25px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.about_section .img-box img {
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.about_section .img-box::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 45px;
    height: 70%;
    background-color: #04233b;
    z-index: 3;
    left: 0;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about_section .img-box::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45px;
    height: 70%;
    background-color: #04233b;
    z-index: 3;
    right: 0;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.tm-color-primary {
    color: mediumturquoise;
}

span.tm-color-primary {
    color: mediumturquoise;
}

.img-thumbnail {
    max-width: none;
}

.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #f9d3e0;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #f9d3e0;
    background-color: mediumturquoise;
    color: #ffdad8;
    padding: 11px;
}

.table_component td {
    border: 1px solid #f9d3e0;
    background-color: mediumturquoise;
    color: 5140315;
    padding: 11px;
}

.comparison-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comparison-images {
    display: flex;
    justify-content: center;
    width: 200%;
    max-width: 120px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.comparison-images img {
    width: 65%;
    padding-left: 50;
    height: 300px;
}

.comparison-images .image-caption {
    text-align: center;
    margin-right: 300px;
    margin-top: 10px;
    font-size: 1.2em;
    color: darkturquoise;
}

.image-caption {
    padding-left: 150px;
}

.table_component {
    width: 100%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: black;
}

.main-caption {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
.tm-comment {
    display: flex;
    align-items: flex-start;
}
.tm-comment-figure {
    margin-top: 10px;
    margin-right: 30px;
}
.img-thumbnail { max-width: none; }
.tm-color-primary, span.tm-color-primary { color: #099; }
.tm-comment-reply { padding-left: 37px; }
.img-thumbnail { max-width: none; }
.teamfoto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.ceo{
    margin-left: 40px;
}